:root {
  /* color primario */
  --b-primary-color: #121E6C;
  --b-primary-color-text: #ffffff;

  --b-highlight-bg: #EE424E;
  --b-highlight-text-color: #ffffff;

  /* Colores base y fondo */
  --b-text-color: #121E6C;
  --b-surface-card: #F3F3F3;
  --b-surface-ground: #F6F4F9;
  --b-surface-border: #F3F3F3;


  /* Neutro */
  --b-dark-color: #0000;
  --b-ligh-color: #ffff;
  --b-ligh-color-200: #f2f2f2;

  /* Estados */
  --b-danger-color: #EE424E;
  --b-danger-color-text: #ffffff;

  /* fonts */
  --font-family: "Montserrat", sans-serif;;
  --font-size: 16px;
}
