<div class="w-full px-4 md:px-8 xl:px-16 py-4 min-h-24 flex justify-between items-center bg-[linear-gradient(270deg,var(--b-highlight-bg).86%,var(--b-primary-color)_83.33%)] ">
  <b-svg class="w-32" src="images/bold.svg"></b-svg>
  <div class="flex gap-10">
    <p class="text-white text-base">Mi negocio</p>
    <p class="text-white flex justify-center items-center text-base">ayuda
      <ng-icon name="faCircleQuestion" class="text-base text-primary ml-1"></ng-icon>
    </p>
  </div>
</div>
<main>
  <router-outlet />
</main>
