<ng-container>
  <!-- Botón -->
  <button #butonFilter class="hidden absolute left-0 top-0 w-0 h-0" (click)="append()">
    {{title}}
  </button>

  <!-- Panel expandible -->
  <div
    (click)="butonFilter.click()"
    [ngClass]="isOpen() ? 'max-h-[13.5rem] min-h-[13.5rem] w-72' : 'max-h-12 w-36 cursor-pointer'"
    class="overflow-hidden transition-all duration-300 ease-in-out bg-white rounded shadow p-3 absolute right-0 top-0"
  >
    <div class="relative">
      <div
        class="flex justify-between items-center montserrat-regular absolute z-10 transition-all duration-200 ease-in-out w-full bg-white toggleClose"
        [ngClass]="isOpen() ? ' opacity-100' : 'opacity-0'"
      >
        <p class="text-base flex-1 text-center">{{title}}</p>
        <ng-icon
          name="ionClose"
          class="text-xl text-white ml-2 cursor-pointer"
          [class.pointer-events-none]="!isOpen()"
          (click)="closet($event)"
        ></ng-icon>
      </div>

      @if (!isOpen()) {
      <div class="flex justify-end items-center montserrat-bold">
        <p class="text-base ml-6">{{title}}</p>
        <ng-icon name="saxSetting4Outline" class="text-base text-white ml-2 mr-2"></ng-icon>
      </div>
      }
    </div>
    <div
      class="pt-6 px-1 transition-all duration-500 ease-in-out flex flex-col gap-2"
      [ngClass]="isOpen() ? 'delay-[250ms] opacity-100 mt-6' : 'opacity-0'"
    >
      @if (isOpen()) { @for (item of checkFilter; track idx; let idx = $index, e = $even) {
      <div class="flex items-center gap-2">
        <p-checkbox [inputId]="item.key" name="group" [value]="item" [(ngModel)]="Selectedcheck"  [disabled]="item.disabled" (onChange)="onCheckChange(item)" />
        <label [for]="item.key" class="ml-2 text-sm montserrat-semiBol font-semibold">
          {{ item.name }}
        </label>
      </div>
      } } @if (isOpen()) {
      <p-button label="Aplicar" styleClass="p-button-accent w-full mt-3" (onClick)="submit($event)" />
      }

    </div>
  </div>
</ng-container>
