<p-drawer [(visible)]="isVisible" (visibleChange)="close($event)" header=" " position="right" styleClass="w-full sm:!w-[26rem]">
    <div class="w-full py-4 font-sans text-gray-800">
        <!-- Header -->
        <div class="flex flex-col items-center text-center mb-6">
            @if (params()!.status === 'success') {
                <div class="flex-center w-9 h-9 rounded-full bg-green-200 mb-3">
                    <ng-icon name="bootstrapCheck" class="text-4xl! text-white! font-bold!"></ng-icon>
                </div>
            }@else {
                <div class="flex-center w-9 h-9 rounded-full bg-red-200 mb-3">
                    <ng-icon name="bootstrapX" class="text-4xl! text-white! font-bold!"></ng-icon>
                </div>
            }
            <h2 class="text-lg montserrat-bold text-black">{{params()!.status === 'success' ? '¡Cobro exitoso!' : '¡Cobro no realizado!' }}</h2>
            <p class="text-3xl montserrat-semiBold text-(--b-text-color)">{{ params()!.amount | cop}}</p>
            <p class="text-sm text-gray-500"> {{ setFormatDateTime(params()!.date) }}</p>
        </div>

        <div class="w-full grid grid-cols-1 gap-3 pt-12">
            <!-- ID transacción -->
            <div class="flex justify-between text-sm">
                <span class="text-gray-400">ID transacción Bold</span>
                <span class="text-black montserrat-bold">GZENUBIIRFKCI</span>
            </div>

            <!-- Deducción -->
            <div class="flex justify-between text-sm">
                <span class="text-gray-400">Deducción Bold</span>
                <span class="font-medium text-red-500"> - {{ params()?.deductions?.length ? (params()!.deductions[0].value | cop) : (0 | cop) }}</span>
            </div>

            <div class="border-b border-solid border-gray-950"></div>

            <!-- Método de pago -->
            <div class="flex justify-between items-center text-sm">
                <span class="text-gray-400">Método de pago</span>
                <div class="flex items-center gap-2 font-medium">
                    <b-tag-payments [method]="params()!.method || {}"></b-tag-payments>
                </div>
            </div>

            <!-- Tipo de pago -->
            <div class="flex justify-between items-center py-3 text-sm">
                <span class="text-gray-400 flex items-center gap-1">
                    <i class="pi pi-link text-gray-500"></i>
                    Tipo de pago
                </span>


                <span class="flex font-medium text-(--b-primary-color)">
                    @if (params()!.salesType === 'PAYMENT_LINK') {
                    <ng-icon name="bootstrapLink45deg" class="text-xl mr-3"></ng-icon>
                    } @else {
                    <ng-icon name="matTapAndPlayOutline" class="text-xl mr-3"></ng-icon>
                    }
                    {{params()!.salesType === 'PAYMENT_LINK' ? 'Link de pago' : 'Datáfono'}}
                </span>
            </div>
        </div>
    </div>
</p-drawer>
