/* You can add global styles to this file, and also import other style files */

/* variables, mixins y estilos personalizados */
@use 'sass:math';
@use './app/styles/utils/variables' as *;
@use './app/styles/utils/fonts' as *;
@use './app/styles/utils/mixins' as *;
@use './app/styles/utils/utilities' as *;

/*  Tailwind  */
@import "./app/styles/tailwind.css";

/*  overrides opcionales */
body {
  color: var(--b-primary-color);
  background-color: var(--b-surface-ground);
}

:is(htm,body) {
  font-size: var(--font-size);
  font-family: var(--font-family);
}


:root {
  font-size: 11px;

  @include respond(md) {
     font-size: 14px;
  }

  @include respond(xl) {
     font-size: 16px;
  }
}
